.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0,0,0, 0.3);
}

.modal-content {
    position: fixed;
    top: 20%;
    right: 2.5%;
    
    padding: 2rem 1rem;

    box-sizing: border-box;
    width: 95%;

    background-color: white;
}

.modal-title {
    margin: 0;

    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.modal-sub-title {
    margin: 1rem 0rem;
    
    font-size: 1rem;

    text-align: center;
}

.modal-seperator {
    margin: 2rem 0rem;
    margin-left: -1rem;

    width: calc(100% + 2rem);
    height: 2px;

    background-color: #2ac187;
}

.input-field {
    margin: 0.5rem 0rem;
}

.button {
    display: block;

    margin: 0rem auto;
    padding: 0.5rem 1rem;
    border: none;

    font-size: 1rem;

    color: white;
    background-color: #2ac187;
}

.button:hover {
    cursor: pointer;
    
    background-color: #24a473;
}

#ageSelect {
    display: block;

    margin: 0.5rem 0rem;

    width: 100%;
}

#uploadButton {
    margin: 1.5rem 1rem 0rem auto;
}

@media only screen and (min-width: 768px) {
    .modal-content {
        top: 25%;
        right: 15%;

        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .modal-content {
        top: 25%;
        right: 30%;

        width: 40%;
    }
}