#uploadMain {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    border: #2ac187 2px dashed;
    margin: 3px;

    width: 100%;
}

#uploadMain form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1.2rem;

    background-color: rgba(255, 255, 255, 0.7);
}

#uploadMain form:hover {
    cursor: pointer;
}

#uploadMain form button {
    border: none;

    background: none;

    font-size: 1.25rem;
    
    cursor: pointer;
}

#uploadMain form button:focus {
    outline: none;
}

#uploadMain form button div {
    margin-top: 0.7rem;

    font-size: 0.7rem;
}

@media only screen and (min-width: 768px) {
    #uploadMain form button {
        font-size: 1.5rem;
    }

    #uploadMain form button div {
        font-size: 1rem;
    }
}